<html>
<form name="input" action="/updateactivity" method="post">
Customer ID: <%= customerid %>
<br>
Producer: <%= producer %>
<br>
Price method: 
<br><br>
<% for(var i=0; i<number; i++) {%>

Milestone ID: <%= milestoneid %>
<br>
Classification: <%= classification[i] %>
<br>
Hours: <%= hours[i] %>
<br>
Trigger: <%= trigger[i] %>
<br>
Deadline: <%= deadline[i] %>
<br>
Consideration:
<br>
<input type="hidden" name="code" value="<%= customerid %>">
<% } %>

<input type="submit" value="Edit">

<input type="button" value="Finish" onclick="window.location = '/' " />
</form>

<form name="input" action="/publish" method="post">
	<input type="submit" value="Publish">
</form>
<!--
<input type="button" value="Publish" onclick="window.location = '/' " />
-->
</html>
