<html>
<form name="input" action="http://127.0.0.1:1212/savemilestone" method="post">
Customer ID: <%= customerid %>
<br>
Classification: <%= classification %>
<br>
Hours: <%= hours %>
<br>
Deadline: <%= deadline %>
<br>
Billing Code: <%= billingrate %>
<br>
<input type="submit" value="Generate">
<input type="button" value="Cancel" onclick="window.location = 'http://localhost/nodejs' " />
</form>
</html>