<html>
<form name="input" action="/updatestatus" method="post">
Customer ID: <%= customerid %>
<br>
Estimate ID: <%= estimateid %>
<br>
Producer: <%= producer %>
<br>
Price method:
<br>
Classification: <%= classification %>
<br>
Hours: <%= hours %>
<br>
Trigger: <%= trigger %>
<br>
Deadline: <%= deadline %>
<br>
Consideration: <%= proportion %>
<br>
	
<input type="hidden" name="status" value="invoice">

<input type="submit" value="Generate Invoice">

</form>


<input type="button" value="Back" onclick="window.location = '/billing' " />

</html>
